[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
pymysql = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
fitz = "*"
pymupdf = "*"
pillow = "*"
python-multipart = "*"
fastapi-jwt-auth = "*"
alembic = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
