.button-center {
    background-color: rgb(248, 249, 250);
    border: 1vh solid black;
}

.element-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}