.button-center-light {
  background-color: rgb(248, 249, 250);
  border: 1vh solid rgb(248, 249, 250);;
}

.button-center-dark {
  background-color: rgb(34, 37, 41);
  border: none;
  color: white
}

.element-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.invert {
  filter: invert(100%);
}


.dark-bottom {
  background-color: rgb(34, 37, 41);
  color: white
}